html(lang="en-gb")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/core.css")
    link(rel="stylesheet", href="/css/article.css")
  body
    main(class="article")
      h1(class="article__title")= article.title
      div(class="article__image", style=`background-image: url("${article.cover}");`)
      article
        each item in article.body
          case item.type
            when "h2"
              h2(class="article__subheading")= item.body
            when "pull_quote"
              blockquote(class="article__quote")= item.body
            default
              p(class="article__plaintext")= item.body